@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);@import url(https://fonts.googleapis.com/css2?family=Muli&display=swap);@import url(https://use.fontawesome.com/releases/v6.4.0/css/all.css);@import url(https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700&display=swap);
@import url(https://site-assets.fontawesome.com/releases/v6.7.2/css/all.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,:after,:before {
    border: 0 solid #e2e8f0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

img, svg {
    vertical-align: middle;
}

body {
    font-family: "Spartan", sans-serif, Bravura;
    color: #fff;
    background-color: #222f39;
    display: flex;
    line-height: 1.6;
}

/* SIDEBAR STYLING */

/* The basic visual for the sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background: #384753;
    height: 100%;
    width: 323px;
    min-height: 100vh;
    z-index: 500;
    transition: all .5s ease
}

.sidebar.close {
    width: 82px;
}

.sidebar.close .link_name, 
.sidebar.close .sidebar_dropdown_arrow {
    display: none;
}

/* Sets the logo to with the name when opened */

.sidebar .logo_open img {
    display: block;
    max-width: 220px;
    margin: 20px 18px 1px 25px;
    transition: all 0.5s ease;
}

/* Sets the logo to the small one when sidebar is closed */
.sidebar.close .logo_open img {
    display: none;
}

.sidebar .logo_close img {
    display: none;
    max-width: 50px;
    margin: 20px 18px 0 16px;
    transition: all 0.5s ease;
}

.sidebar.close .logo_close img {
    display: block;
}

.sidebar.close .nav_inks{
    padding-top: 49px;
}

/* List items */
.sidebar .nav_links {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 30px 0 170px 0;
    overflow: auto;
}

.nav_links::-webkit-scrollbar{
    display: none;
}

.sidebar.close .nav_links {
    overflow: visible;
}

/* Link Styles */
.nav_links li {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    transition: all 0.5s ease;
}

/* Sidebar list item */
.sidebar_list {
    margin-top: 10px;
    white-space: nowrap;
    transition: all 0.5s ease; 
}

li.sidebar_list:hover, .sidebar.close .sidebar_list.active:hover {
    background-color: #242E35;
}

/* Styles for the icons in the sidebar */
.sidebar_logos {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #40C0C0;
}

.nav_links .sidebar_link  {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 42px;
    width: 100%;
    margin-bottom: 8px;
    transition: all .5s ease;
}

.nav_links .link_name {
    font-size: 16px;
    font-weight: 400; 
    color: #fff;
    padding-top: 5px;   
}

/* Sidebar dropdown styles */
.sidebar_dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

/* Style for dropdown arrow */
.sidebar_dropdown_arrow {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    color: #40C0C0;
}

/* Sidebar dropdown sub_menu */
.sidebar .sub_menu {
    padding: 0 6px 14px 80px;
    margin-top: -5px;
    display: none;
}

.sidebar li.active .sub_menu {
    display: block;
}

.sidebar_dropdown:hover i.sidebar_dropdown_arrow,
i.sidebar_dropdown_arrow:hover {
    color: white;
    cursor: pointer;
}

/* CLOSED SIDEBAR */
/* Non-dropdown closed sidebar button label */
.p_link_close_name {
    position: absolute;
    left: 100%;
    background-color: black;
    margin-top: 0;
    padding: 15px 20px 11px 20px;
    border-radius: 0 8px 8px 0;
    top: 0;
    transition: all 0.5s ease;
    font-size: 18px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    /* display: none; */
}

/* .sidebar.close .p_link_close_name {
    display: block;
} */

.p_link_close_name a {
    color: white;
    text-decoration: none;
    opacity: 0.6;
}

.p_link_close_name:hover a {
    opacity: 1;
}

.sidebar.close .sidebar_list:hover .p_link_close_name {
    opacity: 1;
    pointer-events: auto;
}

/* Dropdown closed sidebar expansion */
.sidebar.close .sidebar_list .sub_menu {
    position: absolute;
    left: 100%;
    background-color: black;
    top: 0;
    margin-top: 0;
    padding: 12px 20px 16px 20px;
    border-radius: 0 8px 8px 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}

.sidebar.close .sidebar_list:hover .sub_menu {
    opacity: 1;
    pointer-events: auto;
}

.sidebar.close li .sub_menu {
    display: block;
}

.link_close_name {
    white-space: nowrap;
    font-size: 18px;
    display: none;
}

.sidebar.close .link_close_name {
    display: block;
}

/* Dropdown sub_menu */
.sub_item a {
    color: white;
    text-decoration: none;
    padding: 5px 0;
    font-size: 15px;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.2s ease;
}

.sub_item:hover a {
    opacity: 1;
}

/* Keeps the  sublist background different when open, but goes away when closed */
.sidebar_list.active {
    background: #242E35;
}

.sidebar.close .sidebar_list.active {
    background: inherit;
}

/* Words on Screen Info button sidebar */
.profile-details {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    background: #23343E;
    width: 323px;
    padding: 10px 0 2px 0;
}

.profile-details:hover {
    background-color: black;
}

.sidebar.close .profile-details {
    width: 82px;
}

.profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    margin: 0 14px 8px 15px;
}

.profile_name {
    font-weight: 600;
    font-size: 18px;
    color: white;   
}

.profile-content {
    display: flex;
    align-items: center;
}

.sidebar.close .profile_name {
    display: none;
}

.name-job a {
    text-decoration: none;
}

.wos_close_name {
    display: none;
    position: absolute;
    left: 100%;
    background-color: black;
    padding: 24px 20px 21px 20px;
    border-radius: 0 8px 0px 0;
    top: 0;
    font-size: 18px;
    pointer-events: none;
    white-space: nowrap;
}

.wos_close_name a{
    color: white;
    text-decoration: none;
}

.sidebar.close .profile-details:hover .wos_close_name {
    pointer-events: auto;
    display: inline;
}




/* Main section of the html page */

.main_section {
    position: relative;
    left: 323px;
    height: 100vh;
    width: calc(100% - 323px);
    transition: all 0.5s ease;
    
}

.sidebar.close ~ .main_section {
    left: 82px;
    width: calc(100% - 82px);
}

/* Toggle for the sidebar's close function */

.top_bar {
    position: fixed;
    height: 50px;
    z-index: 100;
    max-width: 1084px;
    width: inherit;
    background: #222f39;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.separator {
    height: 50px;
}

.sidebar_toggle {
    font-size: 25px;
    cursor: pointer;
}

.sidebar_toggle_button {
    padding: 11px 10px 5px 10px;
    height: 45px;
    display: block;
    width: 30px;
}


.sidebar_toggle:hover {
    color: #40C0C0;
}

.logo_mob {
    width: 30px;
    display: none;
}

.search_mob {
    margin-right: 8px;
    display: none;
}


@media(max-width: 1200px) {
    .sidebar.close .logo_open img, .sidebar.close .link_name, .sidebar.close .sidebar_dropdown_arrow,.sidebar.close .profile_name {
        display: block;
    }

    .sidebar.close {
        width: 323px;
}

    .sidebar.close .logo_close img, .p_link_close_name, .sidebar.close .sidebar_list:hover .sub_menu {
        display: none;
        transition: none;
    }

    .sidebar.close .profile-details {
        width: 323px;
    }


    .sidebar {
        transition: all 0.6s ease;
    }

    .sidebar.close ~ .main_section {
        left: 0px;
        width: 100%;

    }

    .main_section {
        left: 0;
        width: 100%;
    }

    .sidebar.close {
        /* transform: translateX(-100%); */
        /* opacity: 0; */
        width: 323px;
        left: -323px;
        transition: all 0.8s ease;
    }

    .mob-overlay {
        left: 0;
    }

    .sidebar.open ~ .mob-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        z-index: 200;
        opacity: 1;
        visibility: visible;
        transition: ease 0.5s;
    }

    .logo_mob {
        display: block;
    }
    
    .search_mob {
        display: block;
    }

    .sidebar_toggle:hover {
        color: inherit;
    }
}



















/* Imported */

.button, .button__cerise-dark, .button__cerise-dark-bg, .button__form, .button__green-meadow, .button__lg, .button__md, .button__nativities-cta, .button__sm, .button__xl {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 13px;
    padding: 4px 18px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    outline: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mc__tabs__collapse__header {
    padding: 19px 17px 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 10px;
    transition: all .3s;
    cursor: pointer
}

.mc__tabs__collapse__body {
    width: 100%;
    height: 0px;
    overflow: hidden;
    padding: 0 17px;
    background-color: #f2f2f2;
    border-radius: 0 0 10px 10px;
    transition: all .3s
}

.main__container {
    max-width: 1084px;
    margin-top: 40px;
    position: relative;
    padding: 0 40px;
}

@media (max-width: 1200px) {
    .main__container {
        max-width: unset;
        padding: 0;
        margin-top: 0;
    }
}

.heading__section {
    font-size: 18px;
    margin-bottom: 0;
    text-transform: uppercase
}

@media(max-width: 429px),(max-width:767px),screen and (min-width:428px)and (max-width:926px)and (orientation:landscape) {
    .heading__section {
        font-size:14px
    }
}

.songpage__header {
    padding: 28px 0;
    background-color: #344b59;
    position: relative;
}

@media(max-width: 1200px) {
    .songpage__header {
        padding:25px 16px
    }
}

@media(max-width: 992px) {
    .songpage__header {
        padding:25px 0;
        margin-bottom: 60px;
    }
}

.songpage__header__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

@media(max-width: 992px) {
    .songpage__header__grid {
        grid-template-columns:auto auto;
        padding: 0 16px
    }
}

.songpage__header__title {
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 0;
}

@media(max-width: 429px),(max-width:767px),screen and (min-width:428px)and (max-width:926px)and (orientation:landscape) {
    .songpage__header__title {
        font-size:18px;
        margin-bottom: 4px
    }
}

.songpage__header__subtitle {
    font-size: 18px;
    margin-bottom: 20px;
}

@media(max-width: 429px),(max-width:767px),screen and (min-width:428px)and (max-width:926px)and (orientation:landscape) {
    .songpage__header__subtitle {
        font-size:12px;
        margin-bottom: 10px
    }
}

.songpage__header__info {
    display: flex;
    align-items: flex-start
}

.songpage__header__thumbnail {
    width: 112px;
    height: 112px;
    position: relative;
    margin-right: 30px;
    flex-shrink: 0
}

@media(max-width: 429px),(max-width:767px),screen and (min-width:428px)and (max-width:926px)and (orientation:landscape) {
    .songpage__header__thumbnail {
        width:71px;
        height: 71px;
        margin-right: 19px
    }
}

.songpage__header__subtext {
    font-size: 14px;
    margin-bottom: 0;
}

@media(max-width: 429px),(max-width:767px),screen and (min-width:428px)and (max-width:926px)and (orientation:landscape) {
    .songpage__header__subtext {
        font-size:10px
    }
}

p {
    word-wrap: anywhere;
    word-break: break-word;
}

.pl-3, .px-3 {
    padding-left: 1rem !important;
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem;
}

.d-flex {
    display: flex !important;
}

button,input,optgroup,select,textarea {
    font-size: 100%;
    line-height: 1.15
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.category {
    margin-bottom: 72px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.category__thumbnail {
    display: block;
    position: relative;
    border-radius: 10px;
    margin-bottom: 28px;
}

.category__thumbnail__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto
 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-6
 {
    flex: 0 0 50%;
    max-width: 50%;
}

@media (min-width: 1200px) {
    .col-xl-4 {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
    }

    .pr-xl-0, .px-xl-0 {
        padding-right: 0 !important;
    }

    .pl-xl-0, .px-xl-0 {
        padding-left: 0 !important;
    }
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,input,optgroup,select,textarea {
    padding: 0;
    color: inherit
}

:root {
    font-size: 62.5%;
    --bg-opacity: 1
}

button {
    border-radius: 0;
}

.searchbar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 28px;
    max-width: 350px;
    padding: 0 10px 0 16px;
    background: #fff;
    border-radius: 50px;
    position: relative;
    margin: 0 5px 0 0;
}

.searchbar__input {
    width: 100%;
    height: 30px;
    padding: 3px 0 0 0;
    background: none;
    border: 0;
    outline: 0;
    font-size: 15px;
    font-weight: 500;
    color: #333;
}


.assembly__songfinder {
    display: block;
    padding: 33px 0 42px;
}

@media (max-width: 992px) {
    .assembly__songfinder {
        padding: 33px 16px 31px;
        max-width: unset;
    }
}

@media (max-width: 1200px) {
    .assembly__songfinder {
        padding: 33px 16px 42px;
        margin-bottom: 24px;
    }
}

.assembly__songfinder__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}

.assembly__filter {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-column-gap: 15px;
    column-gap: 15px;
    grid-row-gap: 22px;
    row-gap: 22px;
    align-items: end;
}

.see-all-filter {
    grid-template-columns: auto 10% !important;
}

.assembly__songfinder label
 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 7px;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.filter__select-lg {
    font-size: 13px;
    padding: 12px 8px 10px 12px;
    -webkit-appearance: textfield;
    height: 42px;
}

.filter__select, .filter__select-lg {
    width: 100%;
    font-size: 11px;
    color: #333;
    padding: 8px 8px 7px 12px;
    background-color: #fff;
    outline: 0 !important;
    border: none !important;
    border-radius: 5px;
}

.filter__select-lg option, .filter__select option {
    padding: 8px;
    height: 40px;
}

.assembly__songfinder__selection__selectors {
    display: flex;
    align-items: center;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}



.button__turquoise {
    background-color: #40c0c0;
    color: #fff !important;
}





.ml-3, .mx-3 {
    margin-left: 1rem !important;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.text-white {
    color: #fff !important;
}

@media (min-width: 768px) {
    .d-md-block {
        display: block !important;
    }
}

.btn-link {
    font-weight: 400;
    color: #007bff;
    text-decoration: none;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.container__small {
    max-width: 475px;
    margin: 0 auto;
}

.mt-5, .my-5 {
    margin-top: 3rem !important;
}

.text-center {
    text-align: center !important;
}

.mt-2, .my-2 {
    margin-top: .5rem !important;
}

.card__favorite {
    margin-bottom: 22px;
}

.card__favorite__body {
    padding: 23px 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
}

.border__radius-5 {
    border-radius: 5px;
}

.bg__white {
    background-color: #fff !important;
}

.card__favorite__img {
    width: 63px;
    height: 63px;
    margin-right: 17px;
}

.card__favorite__info {
    max-width: 256px;
}

img {
    max-width: 100%;
    height: auto;
}
img, svg {
    vertical-align: middle;
}
img {
    border-style: none;
}

.card__favorite__title {
    font-size: 14px;
    font-weight: 600;
    color: #02a7f0;
    margin-bottom: 8px;
}
.card__favorite__subtext {
    font-size: 12px;
    color: #333;
    margin-bottom: 0;
}

.card__favorite .tags-wrapper {
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
    margin-top: 15px;
    margin-left: 81px;
}

.tag, .tag-sm {
    height: 26px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 7px 20px;
    font-size: 10px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
    background-color: #797979;
    margin-right: 2px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__favorite__ctas {
    position: absolute;
    right: 11px;
    top: 11px;
    font-size: 21px;
    display: flex;
    align-items: center;
}

.icon__add {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff !important;

}

a.icon__add {
    text-decoration: none;
}

/* Edited searchbar styles */

@media(max-width: 1200px) {
    .searchbar {
        display: none;
    }
}

.searchbar__icon-cross, .searchbar__icon-search {
    height: 18px;
    opacity: 1;
    transition: all .3s;
}

.button__form {
    height: 38px;
    padding: 4px 10px;
}

.button__filter {
    padding: 12px 10px 10px;
    height: inherit;
}

